@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 245, 255);
    display: flex;
    gap: 15px;
    overflow: hidden;
}
#main #emailVerify{
    display: none;
    flex-direction: column;
    width: 30em;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 18em;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    /* gap: 15px; */
    align-items: center;
    z-index: 3;

}
#main #first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    width: 15em;
    text-shadow: 0.1px 0.5px #222;
    box-shadow: 0px 0px 12px 1px #2C7AB1;
}
#main #first #top{
    text-align: center;
}
#main #first #top p{
    font-weight: 300;
    color: #919191;
}
#main #first #mid{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#main #first #mid li a{
    text-decoration: none;
    color: #000;
}
#main #first #mid li{
    padding: 10px;
    list-style: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}
#main #first #mid li:hover {
    /* border-left: solid 2px #2D7CB3; */
    background: rgb(45,124,179);
    background: linear-gradient(90deg, rgba(45,124,179,1) 0%, rgba(139,183,214,1) 19%, rgba(255,255,255,1) 95%);
    color: rgb(45,124,179);
    scale: 1.1;
    transition: all ease-in-out 0.1s;
}
#main #first #btm{
    text-align: center;
}
#main #first #btm button{
    border: solid 1px #A2EFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #2D7CB3;
    color: #fff;
    cursor: pointer;
}
#main #first #top h2{
    animation: heading 1s linear  infinite  alternate-reverse;
}
#main #second {
    display: flex;
}
#main #second #left .photo i{
    font-size: 1.3em;
}
#main #second #left .photo:hover{
    scale: 1.1;
    transition: all ease-in-out 0.1s;
}
#main #second #left .photo{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main #second #left .one .photo i{
    color: rgb(255, 0, 0);
    font-weight: 900;
}
#main #second #left .one .photo {
    background-color: rgb(255, 0, 0,0.2);
}
#main #second #left .two .photo i{
    color: rgb(255, 165, 0);
    font-weight: 900;
}
#main #second #left .two .photo {
    background-color: rgb(255, 165, 0,0.3);
}
#main #second #left .three .photo i{
    color: rgb(0, 128, 0);
    font-weight: 900;
}
#main #second #left .three .photo {
    background-color: rgb(0, 128, 0,0.3);
}
#main #second #left .four .photo i{
    color: rgba(74, 156, 228);
    font-weight: 900;
}
#main #second #left .four .photo {
    background-color: rgba(74, 156, 228, 0.3);
}
#main #second #left .five .photo i{
    color: rgb(128, 0, 128);
    font-weight: 900;
}
#main #second #left .five .photo {
    background-color: rgb(128, 0, 128,0.2);
}
#main #second #left .six .photo i{
    color: rgb(165, 42, 42);
    font-weight: 900;
}
#main #second #left .six .photo {
    background-color: rgb(165, 42, 42,0.2);
}
#main #second #left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-top: 12px;
    font-weight: 500;
}
#main #second #left .box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 14em;
    border-radius: 20px;
    padding: 10px;
    scale: 1;
    border-top: solid 1px #46b3c9;
    border-right: solid 1px #46b3c9;
}
#main #second #right{
    width: 60em;
    display: flex;
    position: relative;
}
#main #second #right .boxes{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50em;
    height: 40em;
    display: none;
    border-top: solid 1px #46b3c9;
    border-right: solid 1px #46b3c9;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px;
}
#main #second #right .boxes .contents{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 25px;
    top: 10%;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}
#main #second #right .boxes .contents div{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    font-weight: 500;
}
#main #second #right .boxes .contents div button{
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(38, 70, 199, 0.6);
    color: #fff;
    cursor: pointer;
    width: 13em;
    font-weight: 900;
}
#main #second #right .boxes .contents div button:hover{
    background-color: #46b3c9;
    scale: 1.04;
    transition: all ease-in-out 0.2s;
}
#main #second #right .boxes .contents #img{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    padding: 10px;
}
#main #second #right .boxes .contents #sendTestEmail{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #bee4fe;
    cursor: pointer;
}
#main #second #right .boxes .contents #sendTestEmail:hover{
    background-color: #2D7CB3;
    transition: all ease-in-out 0.2s;
    color: #fff;
}
#main #second #right .boxes .contents #img img{
    border-radius: 50%;
    box-shadow: 0px 0px 12px 3px #2D7CB3;
    width: 10em;
    height: 10em;
    border: solid 2px #2D7CB3;
    padding: 10px;
}
@keyframes heading {
    0%{
        color: #000;
    }
    50%{
        color: #46b3c9;
    }
    100%{
        color: #2D7CB3;
    }
}
#main #second #right .six .contents #reminders{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 10px;
}
#main #second #right .six .contents #reminders h3{
    cursor: pointer;
}