@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #ECF5FF;
    display: flex;
    gap: 15px;
    overflow: hidden;
}
#main #one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px;
    width: 15em;
    text-shadow: 0.1px 0.5px #222;
    box-shadow: 0px 0px 12px 1px #2C7AB1;
}
#main #one #top{
    text-align: center;
}
#main #one #top p{
    font-weight: 300;
    color: #919191;
}
#main table{
    width: 100%;
    height: 100%;
    background-color: black;
    border: solid 2px #2D7BB2;
}
#main th,td{
    width: calc(100% / 7);
    height: calc(100%/ 10);
    background-color: black;
    border: solid 2px #2D7BB2;
    background-color: #2D7BB2;
}
#main th{
    font-weight: bold;
    font-size: larger;
}
#main #one #mid{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#main #one #mid li a{
    text-decoration: none;
    color: #000;
}
#main #one #mid li{
    padding: 10px;
    list-style: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}
#main #one #mid li:hover {
    /* border-left: solid 2px #2D7CB3; */
    background: rgb(45,124,179);
    background: linear-gradient(90deg, rgba(45,124,179,1) 0%, rgba(139,183,214,1) 19%, rgba(255,255,255,1) 95%);
    color: rgb(45,124,179);
    scale: 1.1;
    transition: all ease-in-out 0.1s;
}
#main #one #btm{
    text-align: center;
}
#main #one #btm button{
    border: solid 1px #A2EFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #2D7CB3;
    color: #fff;
    cursor: pointer;
}
#main #two{
    display: flex;
    justify-content: space-between;
    width: 55em;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 12px 1px #2C7AB1;
    border-radius: 20px;
    flex-direction: column;
}
#main #two #oneTop{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    height: 20%;
    position: relative;
}
#main #two #twoMid{
    width: 100%;
    height: 40%;
    position: relative;
}
#main #two #three{
    width: 100%;
    height: 40%;
    position: relative;
}
#main #two #oneTop #head{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}
#main #two #oneTop #head h1{
    font-size: 1.5em;
    border-bottom: solid 2px #000;
}
#main #two #oneTop #head input{
    height: 2.5em;
    margin-top: 5px;
    width: 18em;
    border-radius: 20px;
    border: solid 1px #A2EFFF;
}
#main #two #oneTop #intro{
    width: 100%;
    height: 600%;
    background-color: #2D7BB2;
    border-radius: 20px;
    padding: 15px 10px;
    color: #fff;
}
#main #two #twoMid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
#main #two #twoMid #left{
    width: 50%;
    background-color:#ECF5FF;
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 12px 1px #2C7AB1;
    border-radius: 15px;
}
#main #two #twoMid #top{
    display: flex;
    justify-content: space-between;
}
#main #two #twoMid #right{
    width: 50%;
    height: 90%;
    padding: 10px;
    border-radius: 15px;
    background-color:#ECF5FF;
    box-shadow: 0px 0px 12px 1px #2C7AB1;
}
#main #two #twoMid #left #select{
    width: 10em;
    height: 2em;
    font-family: "Roboto Mono", serif;
    border: solid 1px #28a1b9;
    border-radius: 15px;
    padding-inline: 3px;
}
#main #two #twoMid #right #select{
    width: 10em;
    height: 2em;
    font-family: "Roboto Mono", serif;
    border: solid 1px #28a1b9;
    border-radius: 15px;
    padding-inline: 3px;
}
#main #two #twoMid #mid{
    justify-content: center;
    display: flex;

}
#main #two #twoMid #left #circle1{
    position: absolute;
    height: 6em;
    width: 6em;
    background-color: #fff;
    text-align: center;
    top: 35.5%;
    border-radius: 50%;
}
#main #two #twoMid #left #circle{
    width: 7em;
    text-align: center;
    height: 7em;
    border-radius: 50%;
    background-color: #555;
}
#main #two #twoMid #left #top h2{
    font-size: 1.3em;
    font-weight: 500;
}
#main #two #twoMid #right #top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#main #two #twoMid #right #btm{
    object-fit: cover;
}
#main #two #twoMid #right #btm img{
    height: 100%;
    width: 100%;
    scale: 0.94;
    border-radius: 5px;
}
#main #two #twoMid #right #top h2{
    font-weight: 500;
    font-size: 1.3em;
}
#main #two #twoMid #right #top h3{
    font-weight: 300;
    font-size: 1.2em;
}
#main #two #three{
    display: flex;
    flex-direction: column;
    background-color: #ECF5FF;
    padding: 10px;
    border-radius: 15px;
}
#main #two #three #nav{
    display: flex;
    justify-content: space-between;
    background-color: #86c2ed;
    height: 20%;
    padding: 10px;
    align-items: center;
    color: #fff;
    border-radius: 10px;
}
#main #two #three #nav #right{
    display: flex;
    gap: 20px;
}
#main #two #three #nav #right li{
    list-style: none;
}
#main #two #three #nav #right li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
#main #two #three #nav #right li a:hover{
    color: #2D7BB2;
    border-bottom: solid 1px #2D7BB2;
}
#main #two #three #options{
    margin-top: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#main #two #three #options .options{
    display: flex;
    padding: 8px;
    border: solid 1px #dadada;
    justify-content: space-between;
    border-radius: 10px;
}
#main #two #three #options .options h3{
    font-size: 0.95em;
    font-weight: 500;
    font-family: "Roboto Mono", serif;
}
#main #two #three #options .options p{
    font-family: "Roboto Mono", serif;
    font-weight: 300;
    font-size: 0.8em;
}
#main #two #three #options .options #otherInfo{
    display: flex;
    gap: 10px;
    align-items: center;
}
#main #two #three #options .options #otherInfo #course{
    width: 100px;
}
#main #two #three #options .options #otherInfo button{
    padding: 10px;
    border-radius: 15px;
    border: solid 1px #dadada;
    background-color: #A2EFFF;
    cursor: pointer;
}
#main #three{
    width: 30em;
    height: 100%;
    margin: 10px;
    box-shadow: 0px 0px 12px 1px #2C7AB1;   
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
}
#main #three #calender{
    width: 100%;
    height: 50%;
    background-color: #28a1b9;
    border-radius: 10px;

}
#main #three #calender #month i{
    font-size: 2em;
    border-radius: 50%;
    cursor: pointer;
}
#main #three #calender #month h2{
    text-transform: uppercase;
}
#main #three #calender #month{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 0.8em;
}
#main #three #calender #weekdays{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    padding: 0 0.4em;
    color: #fff;
}
#main #three #calender #weekdays div{
    width: calc(30em/7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main #three #calender #days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.2em;
    color: #fff;
    text-align: center;
}
#main #three #calender #days div{
    margin: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(26em/7);
    height: 2.3em;
    cursor: pointer;
    border-radius: 5px;
}
#main #three #calender #days .today{
    background-color: rgb(20, 110, 128);
}
#main #three #calender #days div:hover{
    background-color: rgb(20, 110, 128);
}
#main #three #calender #days #prev-date,#next-days{
    opacity: 0.5;
}
#main #three #login{
    width: 100%;
    height: 10%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECF5FF;
}
#main #three #login #photo{
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px #000;
}
#main #three #login #photo i{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main #three #login #logout h2 a{
    font-size: 0.8em;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
#main #three #login #logout{
    position: absolute;
    right: 1.3em;
    box-shadow: 0px 0px 12px 2px #2C7AB1;
    top: 5.3em;
    background-color: #86c2ed;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    display: none;
    transition: all ease-in-out 0.2s;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8em;
}
#main #one #top h2{
    animation: heading 1s linear  infinite  alternate-reverse;
}
@keyframes heading {
    0%{
        color: #000;
    }
    50%{
        color: #46b3c9;
    }
    100%{
        color: #2D7CB3;
    }
}